<form action="/posts/update/<%= @post.id %>">
	title : <input type="text" name="title" value="<%= @post.title %>"><br>
	content : <input type="text" name="content" value="<%= @post.content %>"><br>
	<input type="submit" value="수정"><br>
</form>